server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/loyalty_db
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: update

logging:
  level:
    com.lms.rule: DEBUG
    org.springframework.web: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    tags:
      application: rule-engine-service
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6379
