server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/loyalty_db
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: update
  rabbitmq:
    host: localhost
    port: 5672

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    tags:
      application: transaction-service
    username: guest
    password: guest
