server:
  port: 8086

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/loyalty_db
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: update
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
